* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

nav {
  background-color: purple;
  padding: 15px;
}

.logo {
  width: 100px;
  vertical-align: middle;
}

.title {
  font-size: 24px;

}

.subtitle {
  margin-top: 15px;
  margin-right: 30px;
  float: right;

}

input[type="text"] {
  color: black;
  margin: 10px;
  margin-top: 50px;
  width: 25%;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 8px;
}

button {
  margin-top: 10px;
  background-color: purple;
  height: 45px;
  width: 53%;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.meme--Image {
  margin-top: 1rem;
  width: 50%;
}

.meme{
  position: relative;
}

.meme--topText,
.meme--bottomText {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 0 #000,
               -2px 2px 0 #000,
               2px -2px 0 #000,
               -2px -2px 0 #000;
}

.meme--topText{
  top: 30px;
}

.meme--bottomText{
  bottom: 0;
  margin-bottom: 10px;
}