*{
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}
nav{
  background-color: purple;
  padding: 15px;
}
.logo{
  width: 100px;
  vertical-align: middle;
}
.title{
  font-size: 24px;
 
}

.subtitle{
  margin-top: 15px;
  margin-right: 30px;
  float: right;

}