body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  height: 5rem;
  width: 100%;
  text-align: center;
  background-color: #232F3D;
}

.logo {
  height: 75%;
  width: auto;
  margin-top: 0.7rem;
}

.mainContainer {
  padding: 1rem 10rem;
}

.leftCol {
  float: left;
  width: 48%;
  position: relative;
}

.productImage {
  height: 100%;
  width: 100%;
}

.currentTime {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 3rem;
}

.currentHeartBeat{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 3rem;
}
.rightCol {
  float: left;
  width: 48%;
}

.productTitle {
  font-size: 3rem;
}

.productOptionRow {
  height: 7rem;
}

.productOptionImage {
  height: 100%;
  width: auto;
  border-radius: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.selectedProductImage {
  border: 1px solid red;
}

.featureRow {
  height: 2.7rem;
  width: auto;
}

.featureButton {
  height: 100%;
  width: 8rem;
  background-color: gainsboro;
  color: black;
  font-size: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.selectedfeatureButton {
  background-color: gray;
}

.buyBtn {
  height: 2.5rem;
  width: 8rem;
  background-color: #808080;
  color: white;
  font-size: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}