.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px;
}

.navitems{
    list-style: none;
    display: flex;

}

.navitems>li{
    padding: 10px;
}

.image{
    height:91px;
    width:138px;
}